.container-show-page {

  .item-content {
    padding: 60px;
    width: 100%;

    .item {
      display: flex;
      margin-bottom: 80px;

      .item-image {
        width: 220px;
        min-width: 220px;
        height: 220px;
        background-position: center center;
        background-size: cover;
        border-radius: 3px;
        border: 3px solid $green;

        img {
          position: relative;
          width: 56px;
          height: 56px;
          top: -26px;
          left: -26px;
          border-radius: 50%;
          border: 3px solid $green;
        }
      }

      .item-actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        position: absolute;
        top: 40px;
        left: 31px;

        .small-link {
          margin-right: 16px;
          font-size: 12px;
          color: rgba(0, 0, 0, 0.6);
        }
      }

      .item-details {
        position: relative;
        padding: 0 30px;
        width: 100%;

        span {
          display: block;
          margin-bottom: 32px;
          font-size: 26px;
          font-weight: 600;
        }

        p {
          opacity: .8;
        }

        .item-infos {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: absolute;
          width: 320px;
          bottom: 0;

          p {
            display: block;
            margin-bottom: 32px;
            font-size: 26px;
            font-weight: 600;
          }

          abbr {
            font-size: 14px;
            text-transform: uppercase;
            opacity: .8;

            .fas {
              color: $green;
            }
          }
        }
      }
    }

    details {
      margin-bottom: 16px;

      summary {
        padding: 16px;
        background-color: $green;
        border-radius: 6px;
        outline: none;
      }

      .claim {
        padding: 16px;

        .question {
          margin-bottom: 16px;
          padding-bottom: 8px;
          border-bottom: 1px solid #eaeaea;

          abbr {
            position: relative;
            padding-left: 26px;
            font-weight: 300;
            color: #7d7d7d;

            &:before {
              content: '';
              position: absolute;
              width: 10px;
              height: 10px;
              top: 6px;
              left: 0;
              border-radius: 50%;
              background-color: $green;
            }
          }

          p {
            position: relative;
            padding-left: 26px;
            margin-top: 12px;

            &:before {
              content: '';
              position: absolute;
              width: 2px;
              height: 35px;
              top: -20px;
              left: 4px;
              background-color: $green;
            }

            &:after {
              content: '';
              position: absolute;
              width: 10px;
              height: 2px;
              top: 13px;
              left: 5px;
              background-color: $green;
            }
          }
        }

        .question:nth-child(4) {
          border-bottom: none;
        }

        .buttons-container {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .btn {
            flex: 1;
            padding: 16px;
          }

          .btn:first-of-type {
            margin-right: 21px;
          }
        }
      }
    }
  }

  .actions {

  }

  #map {
    margin-left: 0;
    width: 100%;
    height: 100vh;
  }
}
