<div class="container-fluid my-flexy container-show-page">
  <div class="dashboard-content">
    <div class="dashboard-content-section">
      <span>Hello <%= current_user.email %>!</span>
      <details open>
        <summary>My Posts</summary>
        <div class="claim-content">
          <% current_user.items.each do |item| %>
            <p><%= link_to item.name, item_path(item) %></p>
          <% end %>
        </div>
      </details>
      <details>
        <summary>My Claims</summary>
        <div class="claim-content">
          <% current_user.claims.each do |claim| %>
            <p><%= link_to claim.item.name, item_path(claim.item)%></p>
          <% end %>
        </div>
      </details>
    </div>
    <div class="dashboard-content-section">
      <span>My messages</span>
    </div>
  </div>
</div>



