<div class="container">
  <h1>Losty!</h1>
  <br>
  <h3>Your live go to plataform for when your go Oopsie, lost something!</h3>
  <%= link_to "found something?", new_item_path, class: "btn btn-success" %>
  <%= link_to "See all items", items_path, class: "btn btn-success" %>
</div>


