<% if @item.was_my_claim_accepted?(current_user) %>
  <h4>It's your item! It won't be lost much longer!</h4>
  <%= link_to "Message #{@item.user.name}", conversations_path(sender_id: current_user, recipient_id: @item.user), method: :post, class: 'btn btn-outline-success' %>
<% elsif @item.is_already_claimed(current_user) %>
  <h4>Someone else got it.</h4>

<% elsif @item.is_my_claim_denied?(current_user) %>
  <h4>Your claim was denied</h4>

<% else %>
  <h4>Your claim is still pending</h4>
  <% @claim = @item.claims.find_by(user: current_user) %>
  <%= link_to "Delete Claim", item_claim_path(@item,@claim), method: :delete, class: 'btn btn-outline-danger', data: { confirm: "Are you sure?" } %>
<% end %>
