<% if @item.claimed %>

   <h4>Well done! You found the rightful owner!</h4>
   <% @item.claims.where(accepted: "true").each do |claim| %>
    <%= link_to "Message #{claim.user.name}",  conversations_path(sender_id: @item.user,recipient_id: claim.user.id), method: :post ,class: 'btn btn-outline-success' %>
    <% end %>
  <% else %>
  <% @item.claims.where(accepted: "pending").each_with_index do |claim, index| %>
    <%#= render partial: "claim", locals: { claim: claim }%>
    <details <%= index + 1 == 1 ? 'open' : '' %> >
      <%= render "claim", claim: claim, index: index%>
    </details>
  <% end %>
<% end %>
