<div class="container">
  <div class="item-img">
  <%= image_tag @item.photo %>
  </div>
  <div class="item-content">
    <h1><%= @item.name %></h1>
    <p>Posted on: <%= @item.created_at.strftime('%e %b %Y') %></p>
    <p><%= @item.description %></p>
    <button class="btn btn-success">Claim</button>

  </div>
</div>
