.home-flex {
  width: 100%;
  display: flex;
  justify-content: center;
}
.home-cont {
  margin-top:40px;
  background-color: rgba(121,235,223,0.3);
  display: inline-block;
  width: 87vw;
  height: 60vh;
  padding: 0 5vw;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cont-lhs {
  width: 45%;
  position: absolute;
  left: 50px;
  top: 70px;
}

.rhs-img {
  width: 40%;
  // padding-top: 56px;
  position: absolute;
  bottom: 0;
  right: 50px;
}

.item-link {
  color: black;
  &:hover{
    color: black;
    text-decoration: none;
  }
}

.my-flexy {
  display: flex;
}

.container {
  margin-top: 50px;
  width: 50%;
}

