.dashboard-content {
  display: flex;
  justify-content: space-between;
  padding: 60px;
  width: 100%;

  .span {
    margin: 120px 0 0 140px;
    font-size: 36px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .dashboard-title {
  text-align: center;
  }



  .dashboard-content-section {
    width: 48%;

    .span-my-message {
      margin: 120px 140px 0 0;
      font-size: 36px;
      position: absolute;
      top: 0;
      right: 0;
    }

    details {
      margin-bottom: 16px;

      summary {
        margin-top: 40px;
        padding: 16px;
        background-color: $green;
        border-radius: 6px;
        outline: none;
      }

      .claim-content {
        padding: 16px;
        background-color: white;
        border-radius: 6px;

      .my-item-infos-message {
      margin-left: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid #eaeaea;
      padding-left: 10px;
        }
      }

    .post-card {
      display: flex;
      margin-bottom: 14px;

    .post-card-messages {
      display: flex;
      margin-bottom: 14px;

      img.avatar {
        width:40px;
      }
    }



      img {
    // position: relative;
      width: 100px;
      height: 100px;
      border-bottom: 1px solid #eaeaea
      }

      span {
        color: rgba(0, 0, 0, 0.7);
        text-decoration: none;

        span:hover {
          color: rgba(0, 0, 0, 0.5);
        }
      }

    .my-item-infos {
      margin-left: 0px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-bottom: 1px solid #eaeaea;
      padding-left: 16px;

      .far {
        color: $green;
        position: absolute;
        right: 1100px;
        top: 320px;
        font-size: 32px;
      }

      p {
        margin-bottom: 4px;
        padding-right: 20px;
      }

      .fas {
        color: $green;
        padding-top: 16px;
      }
    }


    .item-location-date {
      width: 100%;
      display: flex;
      font-size: 14px;
      text-transform: uppercase;
      opacity: .8;
    }
  }
    }
  }
}
