.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  position: sticky;
  top: 0;
  margin-left: 250px;
  width: 40%;
  height: 500px;
  border-radius: 6px;
  // box-shadow: 0px 0px 15px rgba(0,0,0,0.2);
}

.map-index {
  position: sticky;
  top: 0;
  margin-left: 0!important;
  width: 40%;
  height: 500px;
  border-radius: 6px;
  min-width: 30%;
  margin: 8px 16px 8px 0;
}
